html {
    font-size: 62.5%;
}
body {
    font-family: $f;
    font-size: 1.67rem;
    font-weight: normal;
    line-height: 1.2;
    @include ls;

    @media #{$media-tablet} {
        font-size: 1.5rem;
    }
    @media #{$media-mobile} {
        font-size: 1.4rem;
    }

    // colors
    color: $black;
    background-color: white;

    // font rendering and aliasing
    text-rendering: geometricPrecision;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // scroll limit
    overscroll-behavior: none;
}

// general text styling

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
}
h3 {
    font-weight: 500;
    font-size: 2rem;
}
h4 {
    font-weight: 500;
    font-size: 1.75rem;
}
h5 {
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    padding-bottom: 0.4em;
}

h5 {
    padding-bottom: 0.25em;
}

p,
li {
    padding-bottom: 0.45em;
}

b,
strong {
    font-weight: 600 !important;
    text-decoration: underline 2px dotted $gold;
}

a {
    color: inherit;
}

// styling utils

.code {
    font-family: $fmono;
    font-weight: 300;
    font-size: 13px;

    background: $code-bg;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: $radius;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);

    padding: 7px 10px;
}

@mixin marked {
    background-color: $marked-bg;
    padding: 7px 10px;
    border-radius: $radius;
    border: 0.5px solid $marked;

    // box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
}
.marked {
    @include marked;
}

// sections and general Spacing

section {
    @include pad;

    & > *:not(.section-title) {
        padding-left: 9px;
        padding-right: 9px;
    }
}

.section-container {
    display: grid;
    grid-template-columns: $colleft 1fr;
}

.section-title {
    font-family: $fmono;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.01em;
    color: $marked;
    padding-bottom: 0;

    & > h2 {
        font-family: $fmono;
        font-weight: 300;
        font-size: 17px;
        letter-spacing: 0.01em;
        color: $marked;
        padding-bottom: 0;
    }

    margin-bottom: 1.5em;

    @include marked;
}

.last-part {
    z-index: -1;
    background: radial-gradient(ellipse at 25% 15%, $yello 0%, $pink 100%);
    width: 100%;
}

section.intro,
section.lang {
    padding-right: 0;
}
