.footer {
    padding: 1.5rem 4rem;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem 3rem;

        font-size: 0.7em;

        padding-left: calc(40% + 4rem);
    }
}
