// Media queries
$media-laptop: 'only screen and (max-width : 1440px)';
$media-tablet: 'only screen and (max-width : 1024px)';
$media-mobile: 'only screen and (max-width : 768px)';
$media-mobile-sm: 'only screen and (max-width : 500px)';

// Colors
$orange: #ff5300;
$green: #6eeba7;
$gold: #a7a076;
$pink: #faa5f0;
$pinkdark: #ef82e2;
$blue: #66a9ff;
$yello: rgb(255, 252, 176);
$lightgray: rgb(237, 237, 237);
$gray: #878787;
$greengray: #707070;
$black: #1d1d1b;

$marked: rgb(112, 154, 178);
$marked-bg: rgb(219, 235, 247);
$code-bg: rgba(241, 241, 241, 0.7);
$transparent-bg: rgba(255, 255, 255, 0);

// Fonts
$f: 'Work Sans', sans-serif;
$fmono: 'Inconsolata', monospace;

// Font-sizes

// Spacing : default paddings
$pv: 3rem;
$ph: 4rem;
$pm: 1.5rem;

// Spacing: note
$notetop: 11.5rem;
$notebottom: 25.3rem;

// Spacing: main columns
$colleft: 40vw;

// Border radius default
$radius: 3px;
// mixins
@mixin ls {
    letter-spacing: -0.01em;
}
@mixin pad {
    padding: $pv $ph;

    @media #{$media-mobile} {
        padding: $pm;
    }
}
