.latest {
    // min-height: 36vw; // equal both sides

    display: flex;
    flex-direction: column;

    padding: 3rem 4rem 0 4rem;

    &__wrap {
        flex-grow: 1;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;

        // margin-bottom: 1.5rem;

        img {
            height: 8vw;
            width: 100%;
            object-fit: cover;
            border: 1px solid black;
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            hyphens: auto;
        }
        p {
            font-size: 0.8em;
            padding-bottom: 0;
        }
    }
}
