.notes {
    &__code {
        position: relative;
        top: -15rem;
        margin-bottom: -16rem;

        padding-top: 10rem;
        border-top: 0px;
    }

    margin-bottom: 1rem;
    position: relative;
    z-index: -1;
}
