// s0 - intro

.intro {
    padding-bottom: 0;
    font-size: 1.1em;
    // font-weight: 300;
}

// s1 - technologies

.techs {
    padding-bottom: 0;

    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .note {
            color: $pinkdark;
            font-family: $f;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: -0.02em;

            width: fit-content;
            background: radial-gradient(
                ellipse farthest-corner at center center,
                $yello 0%,
                rgba(255, 255, 255, 0) 100%
            );
            padding: 1rem;
            margin: -1rem;

            // background case
            padding: 0.5rem;
            border-radius: 11px;

            &::before {
                content: '*';
                vertical-align: super;
                font-size: 0.6em;
            }
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 3rem;

        span {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                top: -0.5em;
                left: -0.7em;
                bottom: -0.5em;
                right: -0.7em;

                background: radial-gradient(
                    ellipse farthest-corner at center center,
                    $yello 0%,
                    $transparent-bg 100%
                );

                z-index: -100;
            }

            i {
                font-style: normal;
                font-weight: 500;
                color: $pinkdark;

                &::after {
                    content: '*';
                    vertical-align: super;
                    font-size: 0.6em;
                }
            }
        }
    }
}

// s2 - languages

.lang {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem 3rem;
    }
}

// s3 - latest works

.latest {
    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .note {
            font-family: $f;
            font-size: 14px;
            letter-spacing: -0.02em;

            width: fit-content;
            margin: -1rem;
            padding: 0.5rem;
        }
    }

    &__wrap {
        padding: 0 !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
            
            
        @media #{$media-tablet} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$media-mobile} {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media only screen and (max-width : 680px) {
            grid-template-columns: 1fr 1fr;
        }
        
        @media #{$media-mobile-sm} {
            grid-template-columns: 1fr;
        }

        a {
            text-decoration: none;
            hyphens: auto;

            img {
                height: 8.8vw;
                min-height: 12rem;
                width: 100%;
                object-fit: cover;
                border: 0.5px solid $black;
                border-radius: $radius;
                margin-bottom: 0.7rem;

                @media #{$media-tablet} {
                    min-height: 16vw;
                }
                @media #{$media-mobile} {
                    min-height: 20vw;
                }
                @media only screen and (max-width : 680px) {
                    min-height: 28vw;
                }                         
                @media #{$media-mobile-sm} {
                    min-height: 48vw;
                }

            }

            h5,
            p {
                padding-left: 9px;
                padding-right: 9px;
                font-size: 0.8em;
            }

            p {
                padding-bottom: 0;
            }
        }
        @media #{$media-mobile} {
            li {
                padding-bottom: 3rem;

                &:last-of-type {
                    padding-bottom: 0;
                }
            }
        }
    }
}

// s4 - timeline (eduaction + experience)

.timeline {
    padding: 0;
    // margin-top: calc(#{$notetop} - 4rem);

    .marked {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0;
        // margin-left: calc(19vw); // timeline goes to the right
        margin-left: 8.5rem; // timeline goes to the right
        box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);

        @media #{$media-mobile} {
            margin: 0 2rem;
            overflow-x: auto;
        }
    }

    .section-title {
        border-width: 0;
        box-shadow: none;
        margin-bottom: 0;
    }

    img,
    svg {
        display: block;
        margin: 3rem 0;
        padding-left: 3rem; // svg to right

        @media #{$media-mobile} {
            min-width: 70rem;
        }
    }

    position: relative;
    &__mask {
        position: absolute;
        top: -1rem;
        bottom: -1rem;
        left: 0;
        right: 0;
        background: linear-gradient(to left, white 1rem, $transparent-bg 8rem);

        @media #{$media-mobile} {
            display: none;
        }
    }

    &__notes {
        position: absolute;
        left: 1rem;
        width: calc(#{$colleft} - 4rem);
        top: calc(-#{$notetop});
        bottom: calc(-#{$notebottom});
        margin-left: 3rem;

        padding: 0 0 4rem 0 !important; // remove default lateral padding + bottom space

        z-index: -1;

        .code {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &__lang {
            li {
                padding: 0;
            }
        }
        &__jobs {
            li:last-of-type {
                padding: 0;
            }
        }

        @media #{$media-mobile} {
            position: relative;
            margin: 0 2rem;
            width: calc(100vw - 5rem);
            top: -5px;
            left: 0;

            .code {
                padding-top: 1.5rem;
                gap: 3rem;
                height: unset;
                flex-direction: column-reverse;
            }
        }
    }
}
